.AlbumCard {
    display: flex;
    gap: 1rem;
    width: 100%;
    padding: 0.75rem;

    border: 1px solid #ccc;
    background: white;

    cursor: pointer;
    text-align: left;
}

.AlbumCard:hover {
    border-color: #4b8cff;
}

.album-cover {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.album-cover-placeholder {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #eee;

    font-size: 2rem;
}

.album-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 0.25rem;

    overflow: hidden;
}

.album-info h3 {
    margin: 0;
}

.album-info p {
    margin: 0;
    color: #666;
}

.album-warning {
    color: darkorange;
    font-size: 0.9rem;
}

